* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div:nth-child(odd) {
    width: 100vw;
    height: 20vh;
}

body > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div:first-child h1 {
    color: red;
    width: 100%;
    height: 50%;

    text-align: center;
    font-size: 9cqh;
    padding: 1cqh;
}

p {
    color: cyan;
    width: 100%;
    height: 50%;

    text-align: center;
    font-size: 6cqh;
    padding: 1cqh;
}

#score {
    font-size: 3cqh;
    height: 25%;
}

#gameboard {
    display: grid;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    width: 60vh;
    height: 60vh;
    border: 1cqh, cyan, solid;

    border-radius: 10px;
}

#gameboard > div {
    background-color: rgb(0, 62, 62);
    border: 0.5cqh, cyan, solid;
}

.marker {
    width: 100%;
    height: 100%;
}

#gameboard > div:hover {
    background-color: rgb(0, 135, 135);
}

svg {
    display: block;
    pointer-events: none;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-game {
    background-color: cyan;
    font-size: 3cqh;
    color: red;
    border-radius: 10px;
    width: 20%;
    height: 25%;
}
