* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;

    background-color: rgb(0, 123, 154);
}

header h1 {
    font-size: 8cqh;
}

main {
    display: flex;
    flex-direction: column;
    flex-direction: column;

    width: 100vw;
    height: 90vh;
}

main > div {
    width: 100%;
}

main > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
}

#library-display {
    height: 80%;
    padding-inline: 10vw;
}

form {
    margin: 8px;
    padding: 8px;
    background-color: rgb(0, 123, 154);
    border-radius: 3px;
    
    width: 50%;
    height: 80%;
}

.form-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;

    padding: 8px;
}


.form-row > label {
    justify-self: end;
    height: 90%;
    width: 20%;
    font-size: 1cqh;
}

.form-row > input {
    justify-self: end;
    height: 90%;
    width: 80%;
}
